<!-- About Me Section -->
<div class="about-container">
    <h2>About Marisa</h2>
    <p><strong>Creating with Passion, Cooking with Love</strong></p>
    
    <p class="about-description">
        Welcome to my culinary corner! I'm Marisa, a food enthusiast with a deep love for creating delicious and visually appealing dishes.
        My journey into the world of cooking is driven by a passion for exploring flavors, experimenting with recipes, and sharing the joy of good food with others.
        Here, you'll find a collection of my favorite recipes, tips, and culinary adventures. Whether you're a seasoned chef or just starting,
        I hope my blog inspires you to create something wonderful in your kitchen. Let's cook together, one recipe at a time!
    </p>

    <!-- Images within the About Me section -->
    <div class="about-me-images">
        <img src="/images/marisa1.jpg" alt="Marisa with dog">
        
    </div>
</div>
