<footer class="site-footer"></footer>
    <div class="footer-container">
        <p>&copy; 2024 Recipe by Risa. All rights reserved.</p>
        <div class="footer-social-links">
            <a href="https://www.instagram.com/recipebyrisa?igsh=MXA3eXdkbnFuMXVscA%3D%3D&utm_source=qr" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/1m654k?mibextid=LQQJ4d" target="_blank">Facebook</a>
        </div>
    </div>
</footer>