<!-- Header Section with Hero Image -->
<header class="hero-header">
    
    

    <!-- Home Icon Overlay -->
    
    <a href="/" class="home-icon-overlay">
        <img src="/images/home.png" alt="Home Icon">
    </a>
    
     <!-- Hamburger Icon Overlay -->
    
    <a href="javascript:void(0);" id="hamburger-menu" class="menu-icon-overlay">
        <img src="/images/menu-icon.svg" alt="Menu Icon">
    </a>
    
    <!-- Logo and Hero Image -->
    <div class="logo-container">
        <img src="/images/hero-image.jpg" alt="hero image" class="hero-image">
    </div>

    <!-- Dropdown Menu for Hamburger Icon -->
    <div id="dropdown-menu" class="dropdown hidden">
        <ul>
            <li><a href="https://www.amazon.com/shop/recipebyrisa"><span>Amazon Storefront</span></a></li>
            <li><a href="https://www.instagram.com/recipebyrisa/profilecard/?igsh=ZWcwNDF3emZ5Znh5"><span>Instagram</span></a></li>
            <li><a href="#about"><span>About</span></a></li>
        </ul>
    </div>

    <!-- User Options Section -->
    <div class="user-options-container">
        <% if (user) { %>
            <div class="login-container">
                <p>Welcome, <%= user.username ? user.username : 'User' %>! <a href="/logout" class="login-btn">Logout</a></p>
            </div>
        <% } else { %>
            <div class="login-container">
                <% /* <a href="/login" class="login-btn">Login</a> */ %>
            </div>
        <% } %>
    </div>
</header>
