<nav id="dropdownMenu" class="dropdown-menu" style="display: none;">
    <ul>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <!-- Add more links as needed -->
    </ul>
</nav>
<nav id="dropdownMenu" class="dropdown-menu" style="display: none;">
    <ul>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <!-- Add more links as needed -->
    </ul>
</nav>
