<!-- postModal.ejs -->
<div id="postModal-<%= post._id %>" class="recipe-post-modal" style="display: block;" aria-hidden="true">
    <h1>Post Modal Loaded</h1>
    <p>Title: <%= post.title %></p>
    <p>Content: <%= post.content %></p>
</div>
