/* responsive.css */

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        gap: 20px;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 10px;
    }

    .hello-container,
    .latest-post-container {
        width: 100%;
        padding: 10px;
    }
}
